<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>商品列表</title>
</head>

<body>
<h1>我的订单</h1>

<hr>
<span th:text="${session.user.name}"></span>用户，<span th:text="${orderItems.get(0).orderId}"></span>订单
<table border="1">
    <tr>
        <td>序号</td>
        <td>商品</td>
        <td>数量</td>
        <td>价格</td>
    </tr>
    <tr th:each="item,temp:${orderItems}">
        <td th:text="${item.id}">1</td>
        <td th:text="${item.productName}">康师傅方便面</td>
        <td th:text="${item.num}">
            2
        </td>
        <td th:text="${item.price}">100</td>
    </tr>
</table>
<hr>
共：3条，总共<span th:text="${orderItems.get(0).sumPrice}"></span><br>
<a href="javascript:back();">返回</a>
<script th:inline="javascript">
    function back() {
        history.back();
    }
</script>
</body>

</html>